*{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --wheat: #F8DFB3ff;
  --raw-umber: #A26A39ff;
  --seasalt: #F6F8F9ff;
  --raisin-black: rgb(30, 30, 41);
  --light-sky-blue: #80BFE4ff;
  --linen: #F9EFE4ff;
  --celestial-blue: rgb(79, 161, 209);
  --yinmn-blue: #3D5B8Aff;
  --muted-white: #747985;
}

html{
   scroll-behavior: smooth;
}


/* Pagination bullets */
.custom-swiper .swiper-pagination-bullet {
  background: gray;
  opacity: 0.6;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: #f59e0b; /* amber */
  opacity: 1;
}

/* Navigation arrows */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  color: #f59e0b;
}

.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
  font-size: 24px;
  font-weight: bold;
}