@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Iceberg&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));


::selection{
  background: rgb(25, 38, 51);
  color: white; 
}

@layer base{
    @font-face {
    font-family: "Hurricane-Regular", cursive;
    src: url("/fonts/Hurricane-Regular.ttf") format("truetype");
     font-weight: 400;
     font-display: swap;
    font-style: normal;
  }
}

@layer utilities {
  /* Collage styling */
  .collage{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-width: 1000px;
    margin-inline: auto;
    gap: 0.5rem;

    grid-template-areas:
  "..  two two two  three four .. .."
  "one two two two  five five six .."
  "..  two two two  five five seven eight"
  "nine ten eleven eleven twelve .. .. .."
  "..  ..  eleven eleven .. .. .. ..";

  }

  .collage > div{
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(79, 161, 209, 0.85),
      0 0 150px #4E638C
    ;
    border: 1px solid #d2d3d5;
  
  }

  .collage  img{
    aspect-ratio: 1;
    width: 100%;
    display: block;

    object-fit: cover;
    transition: all 100ms ease-out;
  }

  .collage img:hover{
    scale: 1.1;
    rotate: 5deg;
  }


  .collage :nth-child(1){
    grid-area: one;
  }
    .collage :nth-child(2){
    grid-area: two;
  }
    .collage :nth-child(3){
    grid-area: three;
  }
    .collage :nth-child(4){
    grid-area: four;
    background-color: #ffeec3;
    border-bottom-right-radius: 100%;
  }
    .collage :nth-child(5){
    grid-area: five;
  }
    .collage :nth-child(6){
    grid-area: six;
    background-color: teal;
    border-top-right-radius: 100%;
  }
    .collage :nth-child(7){
    grid-area: seven;
  }
    .collage :nth-child(8){
    grid-area: eight;
        background-color: rgb(161, 94, 161);
    border-radius: 100%;
  }
    .collage :nth-child(9){
    grid-area: nine;
        background-color: pink;
    border-top-left-radius: 100%;
  }
    .collage :nth-child(10){
    grid-area: ten;
  }
    .collage :nth-child(11){
    grid-area: eleven;
  }
    .collage :nth-child(12){
    grid-area: twelve;
  }
    .collage :nth-child(13){
    grid-area: thirteen;
  }
    .collage :nth-child(14){
    grid-area: fourteen;
  }
    .collage :nth-child(15){
    grid-area: fifteen;
  }
    .collage :nth-child(16){
    grid-area: sixteen;
  }

  .shadow-celestial {
    box-shadow: 0 0 10px rgba(79, 161, 209, 0.85);
  }

  .shadow-raisin {
    box-shadow: 0 0 15px rgb(19, 19, 24);
  }
.gallery-text {
  position: relative;
  display: inline-block; 
}

.gallery-text::after {
  content: '';
  position: absolute;
  top: 40px; 
  height: 2px;
  width: 0;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: white;
  animation: draw 1s ease-out forwards;
}

@keyframes draw {
  from { width: 0; }
  to { width: 100%; }
}

  /* Background colors */
  .bg-wheat { background-color: var(--wheat); }
  .bg-raw-umber { background-color: var(--raw-umber); }
  .bg-seasalt { background-color: var(--seasalt); }
  .bg-raisin-black { background-color: var(--raisin-black); }
  .bg-light-sky-blue { background-color: var(--light-sky-blue); }
  .bg-linen { background-color: var(--linen); }
  .bg-celestial-blue { background-color: var(--celestial-blue); }
  .bg-yinmn-blue { background-color: var(--yinmn-blue); }

  /* Text colors */
  .text-wheat { color: var(--wheat); }
  .text-raw-umber { color: var(--raw-umber); }
  .text-seasalt { color: var(--seasalt); }
  .text-raisin-black { color: var(--raisin-black); }
  .text-light-sky-blue { color: var(--light-sky-blue); }
  .text-linen { color: var(--linen); }
  .text-celestial-blue { color: var(--celestial-blue); }
  .text-yinmn-blue { color: var(--yinmn-blue); }
  .text-muted {color: var(--muted-white);}
}