@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Iceberg&display=swap');
@custom-variant dark (&:is(.dark *));


::selection{
  background: rgb(25, 38, 51); /* highlight color */
  color: white; 
}


@layer base{
    @font-face {
    font-family: "Hurricane-Regular", cursive;
    src: url("/fonts/Hurricane-Regular.ttf") format("truetype");
     font-weight: 400;
     font-display: swap;
    font-style: normal;
  }
}

@layer utilities {

  .shadow-celestial {
    box-shadow: 0 0 10px rgba(79, 161, 209, 0.85);
  }

  .shadow-raisin {
    box-shadow: 0 0 15px rgb(19, 19, 24);
  }
.gallery-text {
  position: relative; /* parent must be relative */
  display: inline-block; /* needed for proper width */
}

.gallery-text::after {
  content: '';
  position: absolute;
  top: 40px; 
  height: 2px;
  width: 0;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: white;
  animation: draw 1s ease-out forwards;
}

@keyframes draw {
  from { width: 0; }
  to { width: 100%; }
}

  /* Background colors */
  .bg-wheat { background-color: var(--wheat); }
  .bg-raw-umber { background-color: var(--raw-umber); }
  .bg-seasalt { background-color: var(--seasalt); }
  .bg-raisin-black { background-color: var(--raisin-black); }
  .bg-light-sky-blue { background-color: var(--light-sky-blue); }
  .bg-linen { background-color: var(--linen); }
  .bg-celestial-blue { background-color: var(--celestial-blue); }
  .bg-yinmn-blue { background-color: var(--yinmn-blue); }

  /* Text colors */
  .text-wheat { color: var(--wheat); }
  .text-raw-umber { color: var(--raw-umber); }
  .text-seasalt { color: var(--seasalt); }
  .text-raisin-black { color: var(--raisin-black); }
  .text-light-sky-blue { color: var(--light-sky-blue); }
  .text-linen { color: var(--linen); }
  .text-celestial-blue { color: var(--celestial-blue); }
  .text-yinmn-blue { color: var(--yinmn-blue); }
  .text-muted {color: var(--muted-white);}
}